<!-- 版权栏 -->

<div class="container" style="margin-top:30px;border-top: 1px solid #D9D9D9;">

</div>
<footer id="mr-footer" class="wrap mr-footer">
    <section class="mr-copyright">
        <div class="container">
            <div style="width:auto; height:auto; margin:auto;">
                <small> Copyright &copy;&nbsp;<a href="http://www.mingrisoft.com/" target="_blank">技术有限公司</a> <a
                        href="{{url_for('admin.login')}}">后台</a> | 公司邮箱：<a href="mailto:haha@123.com">hahaha@123.com</a>
                    &nbsp;&nbsp;电话:401-232-111 | 公司地址:翻斗大街翻斗花园2号楼1001室
                </small>
            </div>
        </div>
    </section>
</footer>